<div id="<%= dom_id week %>">
  <p>
    <strong>Title:</strong>
    <%= week.title %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= week.materials %>
  </p>

  <p>
    <strong>Sheet:</strong>
    <%= week.sheet %>
  </p>

  <p>
    <strong>User:</strong>
    <%= week.user.name %>
  </p>

</div>
