<div id="<%= dom_id task %>">
  <p>
    <strong>Todo:</strong>
    <%= task.todo %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= task.deadline %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%= task.coach.name %>
  </p>

  <p>
    <strong>Trainee:</strong>
    <%= task.trainee.name %>
  </p>

</div>
