<div id="<%= dom_id contest %>">
  <p>
    <strong>Name:</strong>
    <%= contest.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= contest.link %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= contest.start_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= contest.user_id %>
  </p>

</div>
