<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Codeforces handle:</strong>
    <%= user.codeforces_handle %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= user.level %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

</div>
