<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<% if is_board? %>
  <%= link_to "New user", new_user_path %>
  <%= link_to "Update practice status", update_practice_page_path %>
<% end %>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>


