<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>
  <% if is_board? %>
  | <%= link_to "Edit this post", edit_post_path(@post) %>

  <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</div>
